.menu-logoff i {
    font-size: 28px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    text-align: center;
}

.menu-logoff p {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    color: #3472F7;
}